<div class="container">
  <div>
    <input type="text" placeholder="Search Movies..." (keyup)="searchMovies()" name="searchString"
      [(ngModel)]="searchStr" class="form-control">
  </div>
  <br>
  <div class="row">
    <div class="col-xs-3 mb-2 mr-2" *ngFor="let movie of movieList |paginate: {itemsPerPage:10,currentPage:p}">
      <div class="card" style="width:16rem">
        <img class="card-img-top" [src]="getImage(movie.poster_path)" alt="album cover">
        <div class="card-body">
          <p class="fullMovieName">{{movie.title}}</p>
          <h6 class="card-title">{{movie.title | shorten:20}}</h6>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer pb-0 pt-3">
    <pagination-controls (pageChange)="p =$event"></pagination-controls>
  </div>
</div>